@model IEnumerable<Szakdolgozat_Lengyel_Levente_BSc.Models.Users>

@{
    ViewData["Title"] = "SQL Server";
    ViewBag.Title = "SQL Server";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<h2 class="display-6 text-center">Bejelentkezés</h2>
<form method="get">
    <label>Id
        <input type="number" name="id" class="form-control" min="1" required="required"/>
    </label>
    <label>Password
        <input type="password" name="password" class="form-control" required="required"/>
    </label>
    <input type="submit" class="btn btn-primary"/>
</form>

@if (Model.ToArray().Length != 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentAddress)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.CurrentAddress</td>
            </tr>
        }
        </tbody>
    </table>
}
